#copyright-and-legal {
    text-align: center;
}

hr {
    max-width: 50%;
}

.policies {
    color: white;
}

.policies:hover {
    animation: blinker 1.5s linear infinite;
}

.policies:visited {
    color: red;
}
